body {
  margin-top: 5px;
}
.unclickable {
  cursor: not-allowed;
}
.page-title {
  font-size: 32px;
  margin-top: 10px;
}
.section-title {
  margin-top: 10px;
}
#mainMenu div div a {
 padding-left: 30px;
}

.tabs-left > .nav-tabs > li{
  float: none;
}

.tabs-left > .nav-tabs > li > ,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #000;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #000;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #000 transparent #000 #000;
  *border-right-color: #ffffff;
}

.tab-search {
  margin-left: 145px;
  padding: 10px;
  border: 1px solid black;
  .input-group {
    float: left;
    .form-age {
      width: 60px;
    }
  }
  .separator {
    float: left;
    line-height: 34px;
    padding: 0 10px;
  }
  .btn-add {
    margin-top: 30px;
    float: right;
  }
}
.tab-other {
  min-height: 195px;
  border: 1px solid black;
  margin-left: 145px;
  padding: 10px;
}

.tabs-left ul li a {
  padding: 10px 5px;
}

.selected-criteria {
  border: 1px solid #000;
  .criteria-type {
    font-weight: bold;
  }
  .criteria-item {
    position: relative;
    margin-bottom: 5px;
    p {
      margin: 0;
    }
    .glyphicon {
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
}
#recruit3 {
  .btn-search {
    float: right;
    margin-top: 15px;
  }
}
#filter, #config {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #000;
  padding: 20px;
  right: 0;
}
#config {
  p {
    cursor: pointer;
  }
}
#filled-app {
  .config {
    margin: 15px 0;
    button {
      float: right;
    }
  }
}

.table-container {
  overflow-x: scroll;
}

.tab-nav {
  text-align: center;
}

.panel-login {
  padding: 5px;
  font-size: 13px;
}